<% action = (params[:controller] == "users" ? users_url : session_url) %>
<% title = (params[:controller] == "users" ? "Sign Up" : "Sign In" )%>

<h1><%= title %></h1>

<form action="<%=action%>" method="POST">
  <%= csrf_token %>

  <label>
    Username
    <input type="text" name="user[username]"
           id="username" value="<%=@user.username%>">
  </label>

  <label>
    Password
    <input type="password" name="user[password]"
           id="password">
  </label>

  <input type="submit" value="<%= title %>">
</form>
