<!DOCTYPE html>
<html>
<head>
  <title>Deckfinder</title>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <p>Welcome, <%= current_user.username %>!
  <%= button_to "Sign Out", session_url, method: :delete %>
  <%= link_to "Homepage", user_url(current_user) %></p>
<% else %>
  <p><%= link_to "Sign In", new_session_url %>
  <%= link_to "Register", new_user_url %></p>
<% end %>

<% if flash[:errors] %>
  <p><%= flash[:errors].to_json%></p>
<% end %>
<% if flash[:notice] %>
  <p><%= flash[:notice].to_json%></p>
<% end %>

<%= yield %>

</body>
</html>
